@model List<Odonto.Areas.Odonto.Models.Receituario.Receituario>
@inject IUser _user;
@{
    Layout = null;

    var data = String.Format("{0:dd/MM/yyyy}", DateTime.Now).ToDateFull();
    var tipo = 0;
}


<head>
    <style id="style-impressao" type="text/css">
        .corpo {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        .main {
            flex: 1 0 auto;
        }
        table td {
            font-size: 9pt !important;
        }
        @@page {
            size: auto;
            margin: 4mm;
        }
        body {
            color: #000 !important;
            font-size: 9pt !important;
            border: none !important;
        }
        h1 {
            font-size: 24pt !important;
        }
        h2 {
            font-size: 18pt !important;
        }
        h3 {
            font-size: 14pt !important;
        }
        .titulo {
            font-size: 12pt;
        }
        .sub-titulo {
            font-size: 10pt;
        }
        p {
            orphans: 3 !important;
            widows: 3 !important;
            margin: 0 !important;
            padding: 0 !important;
        }
        @@media print {
            @@page {
                size: landscape;
            }
        }
        .page-break {
            page-break-before: always !important;
        }
    </style>
</head>

<div class="corpo">
    <div class="main">
        <div id="topo" class=" p-0 m-0">
            <table class="table table-sm  p-0 m-0">
                <tr>
                    <td class="text-left  p-0 m-0" style="border-right:1px solid #fff!important">
                        <img src="~/images/Logo/logo.png" width="85" height="75" />
                    </td>

                    <td class="text-right  p-0 m-0">
                        <p>@_user.Consultorio</p>
                        <p>@_user.Endereco</p>
                        <p>@_user.Telefone</p>
                        <p>1ª Via - Farmácia. 2ª Via - Paciente</p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="row mb-1">
            <div class="col-12 border border-secondary"></div>
        </div>
        <div class="">
            <div class="row">
                <div class="col-12 text-center">
                    <h3>RECEITUÁRIO</h3>
                </div>
            </div>
            <span class="titulo">PACIENTE</span>
            <div class="row my-1">
                <div class="col-12 border border-secondary"></div>
            </div>
            <div class="mb-2">
                <p><li>@ViewBag.Nome</li>  </p>
                <p><li>@ViewBag.Endereco</li> </p>
                <p><li>@ViewBag.Telefone</li> </p>
            </div>
            <span class="titulo">MEDICAMENTOS</span>
            <div class="row my-1 mb-2">
                <div class="col-12 border border-secondary"></div>
            </div>
            <table class="table table-bordered table-sm">
                @foreach (var item in Model)
                {
                    tipo = item.Tipo;
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col-12 font-weight-bold">
                                    <span class="float-left sub-titulo">@item.Medicamento - @item.Concentracao </span>
                                    <span class="float-right"> <i>@item.Quantidade @item.FormaS</i> </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    @item.Dose - Via @item.AdmViaS <br />
                                    Durante @item.Duracao @item.DuracaoEmS
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </table>
            <br />
            <div class="row">
                <div class="col-12 text-center">
                    _____________________________________________________<br />
                    @_user.Nome - @_user.Conselho <br />
                    @_user.Especialidade <br />
                    Uruaçu, Goiás, @data
                </div>
            </div>

        </div>
    </div>

    <div id="rodape">
        @if (tipo == 2)
        {
            tipo = 0;
            <div class="row">
                <div class="col-12">

                    <table class="table table-bordered table-sm font-weight-bold p-0">
                        <tr class="text-center">
                            <td colspan="3" class="p-0">IDENTIFICAÇÃO DO COMPRADOR</td>
                        </tr>
                        <tr class="">
                            <td colspan="3" class="p-0">Nome:</td>
                        </tr>
                        <tr class="">
                            <td colspan="2" class="p-0">Identidade:</td>
                            <td class="p-0">Órgão Emissor:</td>
                        </tr>
                        <tr class="">
                            <td class="p-0" width="50%">Cidade:</td>
                            <td class="p-0" width="15%">UF:</td>
                            <td class="p-0">Contato:</td>
                        </tr>
                        <tr>
                            <td colspan="3" class="p-0">
                                Endereço:
                            </td>
                        </tr>
                    </table>

                    <table class="table table-sm table-bordered">
                        <tr>
                            <td class=" p-0 font-weight-bold text-center">IDENTIFICAÇÃO DO FORNCEDOR</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="row text-center">
                                    <div class="col-6">
                                        ______________________________<br />
                                        Assinatura Farmacêutica
                                    </div>
                                    <div class="col-6">
                                        ______/______/______<br />
                                        Data
                                    </div>
                                </div>
                            </td>

                        </tr>
                    </table>

                </div>
            </div>
        }
    </div>
</div>



