@model List<Odonto.Areas.Odonto.Models.Receituario.ListReceituario>
@inject IUser _user;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Detalhes";
    var receituario = "<li>Detalhes Receituário</li>";

    if (ViewBag.Verifica)
    {
        ViewData["Caminho"] = "<li><a href="+ Url.Action("Listar","Clientes") +">Listar</a></li><li><a href=" + Url.Action("Detalhes", "Clientes", new { id = ViewBag.Cliente, url = "receituario" }) + ">Paciente</a></li>"+receituario;
    }
    else
    {
        ViewData["Caminho"] = "<li><a href=" + Url.Action("Cadastrar", "Receituario") + ">Cad. Receituário</a></li>" + receituario;
    }
}

<style type="text/css" > 

    @@media print {
        #teste{
           display:block;
        }
        .corpo {
            display: flex!important;
            min-height: 100vh!important;
            flex-direction: column!important;
            margin:0!important;
            border:0!important;
            padding:0!important;
        }

        .main {
            flex: 1 0 auto !important;
            margin: 0 !important;
            border: 0 !important;
            padding: 0 !important;
        }

        .page-wrapper{
            margin-left:0!important;
        } 
        @@page {
            size: landscape;
        }
        .left-sidebar, .topbar, .footer {
            display: none;
        }       
        #sumir{
            display:none; 
        }
        .page-breadcrumb{
            display:none;
        }
    }
    .corpo {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    .main {
        flex: 1 0 auto;
    }
</style>
<style type="text/css">

    table td {
        font-size: 9pt !important;
    }

    @@page {
        size: auto;
        margin: 4mm;
    }
    
    body {
        color: #000 !important;
        font-size: 9pt !important;
        border: none !important;
    }

    h1 {
        font-size: 24pt !important;
    }

    h2 {
        font-size: 18pt !important;
    }

    h3 {
        font-size: 14pt !important;
    }

    .titulo {
        font-size: 12pt;
    }

    .sub-titulo {
        font-size: 10pt;
    }

    p {
        orphans: 3 !important;
        widows: 3 !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    @@media print {
        @@page {
            size: landscape;
        }
    }

    .page-break {
        page-break-before: always !important;
    }
</style>


<div class="row justify-content-around" id="sumir">

    @foreach (var item in Model)
    {   

    <div class="col-sm-7 col-12 bg-white border" id="primeira-parte">
        <div class="row text-center row-button" style="background-color:#EEEEEE">
            <div class="col-12 pb-3">
                <a href="@Url.Action("Cadastrar", new { simplesId =  item.SimplesId, especialId = item.EspecialId,  pacienteId = ViewBag.Cliente })">
                    <button class="btn bg-cyan text-white "><i class="fa fa-pencil-alt"></i>  Editar</button>
                </a>
                <button class="btn bg-secondary text-white imprimir" data-simples="@item.SimplesId" data-especial="@item.EspecialId" >
                    <i class="fa fa-print"></i>  Imprimir
                </button>
            </div>          
        </div>    
           <div class="row justify-content-center" id="imprimir">
        
        
            <div class="col-6 bg-white border" id="primeira-parte">
                @Html.Partial("_Impressao", item.ReceituarioList)
            </div>
            <div class="col-6 bg-white border" id="segunda-parte">
                @Html.Partial("_Impressao", item.ReceituarioList)
            </div>            
        
    </div>
    </div>
 

    }


    @*<div class="col-sm-6 col-12 bg-white border" id="primeira-parte">
            @Html.Partial("_Impressao", Model)
        </div>*@

</div>



@section Scripts{
<script type="text/javascript">


        @if (ViewBag.Print){
        <text>
            Imprimir( @ViewBag.simplesId, @ViewBag.especialId )
        </text>
        }
        
        $(".imprimir").on("click", function() {
            var printContents = $("#imprimir").html();
            var originalContents = $("body").html();

            var printWindow = window.open('', '', 'height=600,width=800');
            printWindow.document.write('<html><head><title>Print</title>');

            // Copia os estilos
            $('link[rel="stylesheet"]').each(function() {
                printWindow.document.write('<link rel="stylesheet" href="' + $(this).attr('href') + '" type="text/css" />');
            });

            printWindow.document.write('</head><body>');
            printWindow.document.write(printContents);
            printWindow.document.write('</body></html>');

            printWindow.document.close();
            printWindow.print();
        });

        
   



        // $(".imprimir").click(function () {            
        //     var divToPrint = $('#imprimir').clone();
        //     var newWindow = window.open('', '_blank', 'height=600,width=800');

        //     newWindow.document.write('<html><head><title>Impressão</title>');

        //     // Copiar todos os links de estilos da página original para a nova janela
        //     $('link[rel="stylesheet"]').each(function() {
        //         newWindow.document.write('<link href="' + $(this).attr('href') + '" rel="stylesheet" type="text/css" />');
        //     });

        //     newWindow.document.write('<style>body{ font-family: Arial, sans-serif; } .page-break{ page-break-before: always; } </style>');
        //     newWindow.document.write('</head><body>');
        //     newWindow.document.write(divToPrint.html());
        //     newWindow.document.write('</body></html>');
        //     newWindow.document.close();

        //     // Adiciona um evento listener para fechar a janela caso a impressão seja cancelada
        //     newWindow.onafterprint = function() {
        //        // newWindow.close();
        //     };

        //     newWindow.print();
        // })

        function Imprimir(simples, especial) {

        
        }

</script>
}

